body {
    background-color: white;
    transition: background-color 0.5s ease;
}

main header{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    width: 70%;
    margin-left: auto;
    margin-right:auto;
}
nav ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

nav ul li{
    display:inline-block;
    padding: 10px;
    border-bottom: 1px dashed rgb(246, 245, 243);
}

a {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    color:rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(255, 0, 123);
}